.customFadeInAnimation {
    animation: customFadeIn 1s linear;
  }
  
  @keyframes customFadeIn {
    from {
      opacity: 0.5;
    }
    to {
      opacity: 1;
    }
  }
  
  .customFadeUpAnimation {
    animation: customFadeIn 200ms linear;
  }
  
  @keyframes customFadeIn {
    from {
      margin-left: -150px;
    }
    to {
      margin-left: 0px;
    }
  }