@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .home-nav-bg {
    background-image: linear-gradient(180deg,rgba(0,0,0,.7) 10%,transparent);
  }

  .category-bg {
    background-image: linear-gradient(0deg,rgba(20,20,20,1) 95%,transparent);
  }
  

}
