@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .home-bg {
    background-color: rgba(0, 0, 0, 0.8);
  }

  .carousel-container {
    display: flex;
    align-items: center;
    gap: 5px;
    position: relative;
  }

  .carousel {
    display: flex;
    transition: transform 5s ease;
  }

  .slide {
    width: 220px;
  }

  .slide img {
    width: 100%;
    height: auto;
  }

  .dots {
    display: flex;
  }

  .dot {
    width: 10px;
    height: 2px;
    background-color: gray;
    border-radius: 10px;
    margin: 0 1px;
    cursor: pointer;
  }

  .dot.active {
    background-color: white;
  }

  .plus:hover .plus-children {
    display: block;
    transition: 5s;
  }

  .active{
    @apply text-white;
  }

  body.modal-open {
    overflow: hidden;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .custom-btn-shadow {
    box-shadow: rgba(102, 102, 110, 0.25) 0px 7px 29px 0px;
  }

  .custom-shadow-lg {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  .home-nav-bg {
    background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.8) 20%,
      transparent
    );
  }

  .category-bg {
    background-image: linear-gradient(
      0deg,
      rgb(18, 18, 18) 95%,
      transparent
    );
  }

  /* Customize the scrollbar track */
  .language-dropdown::-webkit-scrollbar {
    width: 10px; /* Set the width of the scrollbar */
  }

  /* Customize the scrollbar thumb (the draggable part) */
  .language-dropdown::-webkit-scrollbar-thumb {
    background-color: #cccccc; /* Set the background color of the thumb */
  }

  /* Customize the scrollbar track when hovering over it */
  .language-dropdown::-webkit-scrollbar-track:hover {
    background-color: #555; /* Set the background color when hovering */
  }

  /* .parent-element :nth-child(39){
    padding-right: 20px;
  } */
}
